*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: chartreuse;
    color: black;
    display:block;
    padding: 20px;
}
.header ul li{
    display: inline;
    text-decoration: none;
}
.header ul li a{
text-decoration: none;
padding: 10px;
font-size: 20px;
}
.header ul .navbarname{
    float: right;
    padding-top: 13px;
}
.header ul li .logo{
    font-size: 40px;
}
@media screen {
    .header{max-width:;
        min-width:300px ;
    }
}